<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Covid in the USA</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.select-to-autocomplete.js') }}"></script>
    <!--For Mapbox GL to work -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

    <!--For honeycomb to work-->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/modules/tilemap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <!-- <script src="jquery-ui.min.js"></script>
            <script src="jquery.select-to-autocomplete.js"></script> -->
    <!-- May want to put the below in our Javascript. For sure want to change the alert. -->
    <script>
        (function ($) {
            $(function () {
                $('select').selectToAutocomplete();
                $('form').submit(function () {
                    alert($(this).serialize());
                    return false;
                });
            });
        })(jQuery);
    </script>
    <!--MODIFIED THE HREF FOR THE CSS FILE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="nonburger navbar navbar-expand-lg navbar-light">
        <a class="navbar-data-links mr-auto" href="{{ url_for('home') }}">
            <h1 id="logo"><strong>COVID in the United States</strong></h1>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
            <h3 href="{{ url_for('home') }}">State/County Data</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
            <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
            <h3 href="{{ url_for('about_index') }}">About</h3>
        </a>
    </nav>
    <!-- Hamburger -->
    <nav class="hamburger navbar">
        <a class="navbar-brand" id='logo' href="#">COVID in the United States</a>
        <button class="hamburger navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
                        <h3>State/County Data</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
                        <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
                        <h3 href="{{ url_for('about_index') }}">About Us</h3>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Hamburger -->
    <div class='row'>
        <div class='col-6'>
            <div class='white' id='carly-bio'>
                <h3>Carly Kelly</h3>
                <hr>
                <div class='row'>
                    <div class='col-6'>
                        <p>Carly is Data Analyst with a B.Sc. in Mathematics and a M.A.T from James Madison University.
                            Carly loves exploring relationships between data sets and creating dynamic visualizations.
                            You can view Carly’s LinkedIn at <a href='https://www.linkedin.com/in/carlyfkelly/'>here</a>.<br>On
                            this site, Carly created the following visuals and aspects of the webpage using JavaScript
                            and Python:<br>
                            Choropleth Graph<br>
                            Flask App<br>
                            Web scraping to populate Total Covid Cases/Deaths from multiple sources
                        </p>
                    </div>
                    <div class='col-6'>
                        <img src='../static/headshot_carly.jpg' alt='Carly_Kelly' style='width:100%'>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-6'>
            <div class='white' id='chris-bio'>
                <h3>Chris Mikus</h3>
                <hr>
                <div class='row'>
                    <div class='col-6'>
                        <p>Chris is a data analyst with a B.Sc. in chemical engineering from the University of Virginia.  Chris 
                            enjoys developing visualizations that explore trends and correlations that might not be 
                            initially apparent.  You can view Chris’s LinkedIn <a href='https://www.linkedin.com/in/christopher-mikus-a26a7311b'>here</a>.<br>On this site, 
                            Chris programmed the layout and functionality of the dashboard html, made the dashboard dynamic to user interaction, 
                            and prepared the app for deployment.</p>
                    </div>
                    <div class='col-6'>
                        <img src='../static/headshot_chris.jpg' alt='Chris_Mikus' style='width:100%'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-6'>
            <div class='white' id='sarah-bio'>
                <h3>Sarah Schulte</h3>
                <hr>
                <div class='row'>
                    <div class='col-6'>
                        <p>Sarah is a Data Analyst with a B.A. in Psychology from the University of Maryland, Baltimore County. She 
                            is passionate about uncovering data bias and the subsequent necessary future improvements to data aggregation. Also 
                            a certified nursing assistant, Sarah hopes that an understanding of healthcare environments will inform a unique 
                            perspective in healthcare data analysis. You can view her LinkedIn <a href='www.linkedin.com/in/sarahqschulte'>here</a>.<br>On this site, 
                            she was responsible for the creative direction of the project and managed the workflow among the group in the two 
                            week project deadline. Sarah oversaw the curation of visualizations in addition to contributing to their creation. Lastly, 
                            she provided the web scraping elements for the COVID totals and COVID comparative totals.</p>
                    </div>
                    <div class='col-6'>
                        <img src='../static/headshot_Sarah.jpg' alt="Sarah_Schulte" style=width:100%>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-6'>
            <div class='white' id='clemi-bio'>

                <h3>Clementine Sraha</h3>
                <hr>
                <div class='row'>
                    <div class='col-6'>
                        <p>Clementine is Data Analyst with a B.Sc. in Environmental Science from Drexel University and a
                            Masters Degree in Environmental Management from the Nicholas School of Environment at Duke
                            University. Clementine loves coding and likes to learn new things in her free time. You can view
                            Clementine’s LinkedIn <a href='https://www.linkedin.com/in/clementine-sraha/'>here</a>.<br>
                            On this site, Clementine created the following charts using JavaScript:<br>
                            [State] Reported Cases: Top Ten Counties <br>
                            [State] Reported Deaths: Top Ten Counties<br>
                            Re-arrangeable table of “US Counties with Highest Total Cases”<br>
                            Both Honeycomb/ Tile Diagrams<br>
                            Re-arrangeable New York Times and Atlantic Data Comparison Table<br>
                            Data Reliability Donut Chart<br>
                            Both Time Series Charts with buttons</p>
                    </div>
                    <div class='col-6'>
                        <img src="../static/headshot_clemi.jpg" alt="Clementine-Sraha" style=width:100%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='white col-12'>
            <h3>Our Sources</h3>
            <hr>
            <ul>
                <li>“Our Data.” The COVID Tracking Project, covidtracking.com/data.</li>
                <li>The New York Times. “Coronavirus in the U.S.: Latest Map and Case Count.” The New York Times, The New York Times, 3 Mar. 2020, www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html?action=click&amp;pgtype=Article&amp;state=default&amp;module=styln-coronavirus®ion=TOP_BANNER&amp;context=storylines_menu.</li>
                <li>The New York Times. “Coronavirus in the U.S.: Latest Map and Case Count.” The New York Times, The New York Times, 3 Mar. 2020, www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html?action=click&amp;pgtype=Article&amp;state=default&amp;module=styln-coronavirus®ion=TOP_BANNER&amp;context=storylines_menu.</li>
                <li>“COVID-19 Map.” Johns Hopkins Coronavirus Resource Center, coronavirus.jhu.edu/map.html.</li>
                <li>“CDC COVID Data Tracker.” Centers for Disease Control and Prevention, Centers for Disease Control and Prevention, www.cdc.gov/covid-data-tracker/#cases.</li>
            </ul>
        </div>
    </div>

    <!-- <script src="../StarterCode/static/js/app.js"></script> -->
    <!--MODIFIED THE NEXT TWO SCRIPT FILE PATHS-->
    <!-- <script src="../static/js/choropleth.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/app_CK.js"></script> -->
    <!--<script src="../static/js/app_CM.js"></script>
    <script src="../static/js/app_SS.js"></script>-->

</body>

<!-- Start of footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
        <br><br>
    </p>
</footer>
<!-- End of footer -->

</html>