<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Covid in the USA</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.select-to-autocomplete.js') }}"></script>
    <!--For Mapbox GL to work -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

    <!--For honeycomb to work-->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/modules/tilemap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>



    <!-- <script src="jquery-ui.min.js"></script>
            <script src="jquery.select-to-autocomplete.js"></script> -->
    <!-- May want to put the below in our Javascript. For sure want to change the alert. -->
    <script>
        (function ($) {
            $(function () {
                $('select').selectToAutocomplete();
                $('form').submit(function () {

                    return false;
                });
            });
        })(jQuery);
    </script>
    <!--MODIFIED THE HREF FOR THE CSS FILE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="nonburger navbar navbar-expand-lg navbar-light">
        <a class="navbar-data-links mr-auto" href="{{ url_for('home') }}">
            <h1 id="logo"><strong>COVID in the United States</strong></h1>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
            <h3 href="{{ url_for('home') }}">State/County Data</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
            <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
            <h3 href="{{ url_for('about_index') }}">About</h3>
        </a>
    </nav>
    <!-- Hamburger -->
    <nav class="hamburger navbar">
        <a class="navbar-brand" id='logo' href="#">COVID in the United States</a>
        <button class="hamburger navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
                        <h3>State/County Data</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
                        <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
                        <h3 href="{{ url_for('about_index') }}">About</h3>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Hamburger -->
    <div class='col-12'>
        <div class='row'>
            <div class='col-4 text-center' id='total-cases-banner'>
                <div class='white col-12 no-pad'>
                    <h3 class='page-header'>Johns Hopkins Data</h3>
                    <hr>
                    <h5>Total US Cases: {{scraped_stats.jhu_confirmed}}</h5>
                    <h5>Total US Deaths: {{scraped_stats.jhu_deaths}}</h5>
                </div>
            </div>
            <div class='col-4 text-center' id='total-cases-banner'>
                <div class='white col-12 no-pad'>
                    <h3 class='page-header'>The Atlantic Data</h3>
                    <hr>
                    <h5>Total US Cases: {{scraped_stats.atlantic_confirmed}}</h5>
                    <h5>Total US Deaths: {{scraped_stats.atlantic_death}}</h5>
                </div>
            </div>
            <div class='col-4 text-center' id='total-cases-banner'>
                <div class='white col-12 no-pad'>
                    <h3 class='page-header'>The CDC Data</h3>
                    <hr>
                    <h5>Total US Cases: {{scraped_stats.cdc_confirmed}}</h5>
                    <h5>Total US Deaths: {{scraped_stats.cdc_deaths}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='row'>
            <div class='col-4 text-center'>
                <div class='white col-12 text-center' id='totals-banner'>
                    <h4>Select a State</h4>
                    <hr>
                    <div class="col-12">
                        <form>
                            <select name="State" class='selector' id="state-selector" autofocus="autofocus"
                                    autocorrect="off" autocomplete="off" placeholder='Enter a State or Abbr.'>
                                    <option value='' data-alternative-spellings='US' selected>All States</option>
                                    <option value="Alabama" data-alternative-spellings='AL'>Alabama</option>
                                    <option value="Alaska" data-alternative-spellings='AK'>Alaska</option>
                                    <option value="Arizona" data-alternative-spellings='AZ'>Arizona</option>
                                    <option value="Arkansas" data-alternative-spellings='AS'>Arkansas</option>
                                    <option value="California" data-alternative-spellings='CA'>California</option>
                                    <option value="Colorado" data-alternative-spellings='CO'>Colorado</option>
                                    <option value="Connecticut" data-alternative-spellings='CT'>Connecticut</option>
                                    <option value="Delaware" data-alternative-spellings='DE'>Delaware</option>
                                    <option value="Florida" data-alternative-spellings='FL'>Florida</option>
                                    <option value="Georgia" data-alternative-spellings='GA'>Georgia</option>
                                    <option value="Hawaii" data-alternative-spellings='HI'>Hawaii</option>
                                    <option value="Idaho" data-alternative-spellings='ID'>Idaho</option>
                                    <option value="Illinois" data-alternative-spellings='IL'>Illinois</option>
                                    <option value="Indiana" data-alternative-spellings='IN'>Indiana</option>
                                    <option value="Iowa" data-alternative-spellings='IA'>Iowa</option>
                                    <option value="Kansas" data-alternative-spellings='KS'>Kansas</option>
                                    <option value="Kentucky" data-alternative-spellings='KY'>Kentucky</option>
                                    <option value="Louisiana" data-alternative-spellings='LA'>Louisiana</option>
                                    <option value="Maine" data-alternative-spellings='ME'>Maine</option>
                                    <option value="Maryland" data-alternative-spellings='MD'>Maryland</option>
                                    <option value="Massachusetts" data-alternative-spellings='MA'>Massachusetts</option>
                                    <option value="Michigan" data-alternative-spellings='MI'>Michigan</option>
                                    <option value="Minnesota" data-alternative-spellings='MN'>Minnesota</option>
                                    <option value="Mississippi" data-alternative-spellings='MS'>Mississippi</option>
                                    <option value="Missouri" data-alternative-spellings='MO'>Missouri</option>
                                    <option value="Montana" data-alternative-spellings='MT'>Montana</option>
                                    <option value="Nebraska" data-alternative-spellings='NE'>Nebraska</option>
                                    <option value="Nevada" data-alternative-spellings='NV'>Nevada</option>
                                    <option value="New Hampshire" data-alternative-spellings='NH'>New Hampshire</option>
                                    <option value="New Jersey" data-alternative-spellings='NJ'>New Jersey</option>
                                    <option value="New Mexico" data-alternative-spellings='NM'>New Mexico</option>
                                    <option value="New York" data-alternative-spellings='NY'>New York</option>
                                    <option value="North Carolina" data-alternative-spellings='NC'>North Carolina</option>
                                    <option value="North Dakota" data-alternative-spellings='ND'>North Dakota</option>
                                    <option value="Ohio" data-alternative-spellings='OH'>Ohio</option>
                                    <option value="Oklahoma" data-alternative-spellings='OK'>Oklahoma</option>
                                    <option value="Oregon" data-alternative-spellings='OR'>Oregon</option>
                                    <option value="Pennsylvania" data-alternative-spellings='PA'>Pennsylvania</option>
                                    <option value="Rhode Island" data-alternative-spellings='RI'>Rhode Island</option>
                                    <option value="South Carolina" data-alternative-spellings='SC'>South Carolina</option>
                                    <option value="South Dakota" data-alternative-spellings='SD'>South Dakota</option>
                                    <option value="Tennessee" data-alternative-spellings='TN'>Tennessee</option>
                                    <option value="Texas" data-alternative-spellings='TX'>Texas</option>
                                    <option value="Utah" data-alternative-spellings='UT'>Utah</option>
                                    <option value="Vermont" data-alternative-spellings='VT'>Vermont</option>
                                    <option value="Virginia" data-alternative-spellings='VA'>Virginia</option>
                                    <option value="Washington" data-alternative-spellings='WA'>Washington</option>
                                    <option value="West Virginia" data-alternative-spellings='WV'>West Virginia</option>
                                    <option value="Wisconsin" data-alternative-spellings='WI'>Wisconsin</option>
                                    <option value="Wyoming" data-alternative-spellings='WY'>Wyoming</option>
                            </select>
                        </form>
                        <input type="button" class="btn btn-light" value ='Select'>
                    </div>
                </div>
                <div class='white col-12 text-center' id='honeycomb-difference-box'>
                    <h4 class="page-header" id='data-comp-state'>Reported Data Comparison for Alaska</h4>
                    <hr>
                    <div class='figure center' id='honeycomb-difference-table'>
                    </div>
                </div>
                <div class='white col-12 text-center' id='data-reliability-box'>
                    <h4 class="page-header" id='reliability-state'>Data Reliability Score for Alaska</h4>
                    <hr>
                    <div class="figure center" id='data-reliability-score'>
                    </div>
                    <hr>
                    <h4 class="page-header">What Does This Mean?</h4>
                    <hr>
                    <p>Every day, each state is assessed by <i>The Atlantic</i> on the quality and reliability of their reported COVID-19 data. Factors for grading include consistency of reporting, testing/data completeness, detailed patient reporting (i.e. hospitalized, ICU, and recovered patients), and patient demographics. Machine readability is considered positively, but a grade of "A" can be achieved without this capability.</p>
                </div>
            </div>
            <div class='col-8 text-center'>
                <div class='white col-12 no-pad' id='nyt-honey-box'>
                    <h1 class="page-header">Total Cases Reported by New York Times</h1>
                    <hr>
                    <div class="figure center" id='nyt-country-honeycomb'>
                    </div>
                </div>
                <div class='white col-12 no-pad' id='atl-honey-box'>
                    <h1 class="page-header">Total Cases Reported by The Atlantic</h1>
                    <hr>
                    <div class="figure" id='atl-country-honeycomb'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='row'>
            <div class='col-2 text-center'>
                <div class='white col-12 no-pad' id='showhide-box'>
                    <h4 class='page-header'>Show Sources</h4>
                    <hr>
                    <div class="hideshow" id="top" style="margin-left:0px;">
                        <button style="background:#e8cec9;">The New York Times</button>
                    </div>
                    <div class="hideshow" id="bottom" style="margin-left:0px;">
                        <button style="background:#e8cec9;">The Atlantic</button>
                    </div>
                </div>
                <div class='white col-12 no-pad' id='showhide-box'>
                    <h4 class='page-header'>Graph Tips</h4>
                    <hr>
                    <p>Enter a state in the box above to see timeseries data for that state.<br>Use the drag bar at the bottom of the charts to zoom in on a particular section of the timeseries.</p>
                </div>
            </div>
            <div class='col-5 text-center'>
                <div class='white col-12 no-pad' id='case-timeseries-box'>
                    <h1 class="page-header" id='cases-series-state'>Timeseries of Cases Reported by NYT and Atlantic for Alaska</h1>
                    <hr>
                    <div class='figure center' id='case-timeseries'>
                    </div>
                </div>
            </div>
            <div class='col-5 text-center'>
                <div class='white col-12 no-pad' id='death-timeseries-box'>
                    <h1 class="page-header" id='death-series-state'>Timeseries of Deaths Reported by NYT and Atlantic for Alaska</h1>
                    <hr>
                    <div class='figure center' id='death-timeseries'>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <script src="../StarterCode/static/js/app.js"></script> -->
        <!--MODIFIED THE NEXT TWO SCRIPT FILE PATHS-->
        <!--<script src="../static/js/choropleth.js"></script>-->
        <script src="../static/js/config.js"></script>
        <script src="../static/js/app_Clemi_hon.js"></script>
        <!--<script src="../static/js/app_CK.js"></script>-->
        <script src="../static/js/app_CM.js"></script>
        <!--<script src="../static/js/app_SS.js"></script>-->
</body>

<!-- Start of footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
        <br><br>
    </p>
</footer>
<!-- End of footer -->

</html>