<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Covid in the USA</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.select-to-autocomplete.js') }}"></script>
    <!--For Mapbox GL to work -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

    <!--For honeycomb to work-->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/modules/tilemap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <!-- <script src="jquery-ui.min.js"></script>
        <script src="jquery.select-to-autocomplete.js"></script> -->
    <!-- May want to put the below in our Javascript. For sure want to change the alert. -->
    <script>
        (function ($) {
            $(function () {
                $('select').selectToAutocomplete();
                $('form').submit(function () {
                    return false;
                });
            });
        })(jQuery);
    </script>
    <!--MODIFIED THE HREF FOR THE CSS FILE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="nonburger navbar navbar-expand-lg navbar-light">
        <a class="navbar-data-links mr-auto" href="{{ url_for('home') }}">
            <h1 id="logo"><strong>COVID in the United States</strong></h1>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
            <h3 href="{{ url_for('home') }}">State/County Data</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
            <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
        </a>
        <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
            <h3 href="{{ url_for('about_index') }}">About</h3>
        </a>
    </nav>
    <!-- Hamburger -->
    <nav class="hamburger navbar">
        <a class="navbar-brand" id='logo' href="#">COVID in the United States</a>
        <button class="hamburger navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('home') }}">
                        <h3>State/County Data</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('honey_index') }}">
                        <h3 href="{{ url_for('honey_index') }}">Data Comparison and Integrity</h3>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class='navbar-data-links mr-auto' href="{{ url_for('about_index') }}">
                        <h3 href="{{ url_for('about_index') }}">About</h3>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Hamburger -->
    <div class='col-12'>
        <div class='row'>
            <div class='col-2 text-center'>
                <div class='white col-12 no-pad' id='state-selector-box'>
                    <div class="col-12">
                        <h3 class='page-header'>Select a State</h3>
                        <hr>
                        <form>
                            <select name="State" class='selector' id="state-selector" autofocus="autofocus"
                                autocorrect="off" autocomplete="off" placeholder='Enter state or abb'>
                                <option value='' data-alternative-spellings='US' selected>All States</option>
                                <option value='us' data-alternative-spellings='US, The United States'>All States</option>
                                <option value="Alabama" data-alternative-spellings='AL'>Alabama</option>
                                <option value="Alaska" data-alternative-spellings='AK'>Alaska</option>
                                <option value="Arizona" data-alternative-spellings='AZ'>Arizona</option>
                                <option value="Arkansas" data-alternative-spellings='AS'>Arkansas</option>
                                <option value="California" data-alternative-spellings='CA'>California</option>
                                <option value="Colorado" data-alternative-spellings='CO'>Colorado</option>
                                <option value="Connecticut" data-alternative-spellings='CT'>Connecticut</option>
                                <option value="Delaware" data-alternative-spellings='DE'>Delaware</option>
                                <option value="Florida" data-alternative-spellings='FL'>Florida</option>
                                <option value="Georgia" data-alternative-spellings='GA'>Georgia</option>
                                <option value="Hawaii" data-alternative-spellings='HI'>Hawaii</option>
                                <option value="Idaho" data-alternative-spellings='ID'>Idaho</option>
                                <option value="Illinois" data-alternative-spellings='IL'>Illinois</option>
                                <option value="Indiana" data-alternative-spellings='IN'>Indiana</option>
                                <option value="Iowa" data-alternative-spellings='IA'>Iowa</option>
                                <option value="Kansas" data-alternative-spellings='KS'>Kansas</option>
                                <option value="Kentucky" data-alternative-spellings='KY'>Kentucky</option>
                                <option value="Louisiana" data-alternative-spellings='LA'>Louisiana</option>
                                <option value="Maine" data-alternative-spellings='ME'>Maine</option>
                                <option value="Maryland" data-alternative-spellings='MD'>Maryland</option>
                                <option value="Massachusetts" data-alternative-spellings='MA'>Massachusetts</option>
                                <option value="Michigan" data-alternative-spellings='MI'>Michigan</option>
                                <option value="Minnesota" data-alternative-spellings='MN'>Minnesota</option>
                                <option value="Mississippi" data-alternative-spellings='MS'>Mississippi</option>
                                <option value="Missouri" data-alternative-spellings='MO'>Missouri</option>
                                <option value="Montana" data-alternative-spellings='MT'>Montana</option>
                                <option value="Nebraska" data-alternative-spellings='NE'>Nebraska</option>
                                <option value="Nevada" data-alternative-spellings='NV'>Nevada</option>
                                <option value="New Hampshire" data-alternative-spellings='NH'>New Hampshire</option>
                                <option value="New Jersey" data-alternative-spellings='NJ'>New Jersey</option>
                                <option value="New Mexico" data-alternative-spellings='NM'>New Mexico</option>
                                <option value="New York" data-alternative-spellings='NY'>New York</option>
                                <option value="North Carolina" data-alternative-spellings='NC'>North Carolina</option>
                                <option value="North Dakota" data-alternative-spellings='ND'>North Dakota</option>
                                <option value="Ohio" data-alternative-spellings='OH'>Ohio</option>
                                <option value="Oklahoma" data-alternative-spellings='OK'>Oklahoma</option>
                                <option value="Oregon" data-alternative-spellings='OR'>Oregon</option>
                                <option value="Pennsylvania" data-alternative-spellings='PA'>Pennsylvania</option>
                                <option value="Rhode Island" data-alternative-spellings='RI'>Rhode Island</option>
                                <option value="South Carolina" data-alternative-spellings='SC'>South Carolina</option>
                                <option value="South Dakota" data-alternative-spellings='SD'>South Dakota</option>
                                <option value="Tennessee" data-alternative-spellings='TN'>Tennessee</option>
                                <option value="Texas" data-alternative-spellings='TX'>Texas</option>
                                <option value="Utah" data-alternative-spellings='UT'>Utah</option>
                                <option value="Vermont" data-alternative-spellings='VT'>Vermont</option>
                                <option value="Virginia" data-alternative-spellings='VA'>Virginia</option>
                                <option value="Washington" data-alternative-spellings='WA'>Washington</option>
                                <option value="West Virginia" data-alternative-spellings='WV'>West Virginia</option>
                                <option value="Wisconsin" data-alternative-spellings='WI'>Wisconsin</option>
                                <option value="Wyoming" data-alternative-spellings='WY'>Wyoming</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class='white col-12 no-pad' id='total-cases-banner'>
                    <h3 class='page-header'>Total U.S. COVID-19 Cases</h3>
                    <hr>
                    <h3>{{scraped_stats.cdc_confirmed}}</h3>
                </div>
                <div class='white col-12 no-pad' id='total-cases-banner'>
                    <h3 class='page-header'>Total U.S. COVID-19 Deaths</h3>
                    <hr>
                    <h3>{{scraped_stats.cdc_deaths}}</h3>
                </div>
                <div class='white col-12 no-pad' id='total-cases-banner'>
                    <h3 class='page-header'>Map Tips</h3>
                    <hr>
                    <p>Select a layer in the top left to cycle between available statistics.<br>Type a state (or abbreviation) into the state selector to zoom to the state and regenerate the bar charts below.<br>Click on a county in the map to view county statistics for the selected layer.</p>
                </div>
            </div>
            <div class='col-10' id='us-cloropleth'>
                <div class='white col-12 no-pad'>
                    <h1 class="page-header text-center">Impact of COVID-19 on the Counties of the United States</h1>
                    <hr>
                    <div class="figure center" id='total-county-cloropleth'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='row'>
            <div class='col-6 text-center'>
                <div class='white col-12 no-pad'>
                    <div class='col-12'>
                        <h1 class="page-header" id="state-name-cases">Counties of Alaska with Highest Death Rate by Total Reported Cases</h1>
                        <hr>
                        <div class='figure center' id='top-cases-counties'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-6 text-center'>
                <div class='white col 12 no-pad'>
                    <div class='col-12'>
                        <h1 class="page-header" id="state-name-deaths">Counties of Alaska with Highest Death Rate by Total Population</h1>
                        <hr>
                        <div class='figure center' id='top-death-counties'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='row'>
            <div class='col-6 text-center'>
                <div class='white col-12 no-pad'>
                    <div class='col-12 text-center'>
                        <h1 class="page-header">US Counties with Highest Total Cases</h1>
                        <hr>
                        <div class='figure center' id='top-ten-us-counties'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-6 text-center'>
                <div class='white col-12 no-pad size-limit'>
                    <div class='col-12' id='state-name-box'>
                        <h1 class="page-header" id='state-name'> Recent U.S. COVID-19 News</h1>
                        <hr>
                        <table class='table table-striped'>
                            <thead>
                                <th>Title</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href={{scraped_news.Link[0]}}>{{scraped_news.Title[0]}}</a></td>
                                    <td>{{scraped_news.Published[0]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[1]}}>{{scraped_news.Title[1]}}</a></td>
                                    <td>{{scraped_news.Published[1]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[2]}}>{{scraped_news.Title[2]}}</a></td>
                                    <td>{{scraped_news.Published[2]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[3]}}>{{scraped_news.Title[3]}}</a></td>
                                    <td>{{scraped_news.Published[3]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[4]}}>{{scraped_news.Title[4]}}</a></td>
                                    <td>{{scraped_news.Published[4]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[5]}}>{{scraped_news.Title[5]}}</a></td>
                                    <td>{{scraped_news.Published[5]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[6]}}>{{scraped_news.Title[6]}}</a></td>
                                    <td>{{scraped_news.Published[6]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[7]}}>{{scraped_news.Title[7]}}</a></td>
                                    <td>{{scraped_news.Published[7]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[8]}}>{{scraped_news.Title[8]}}</a></td>
                                    <td>{{scraped_news.Published[8]}}</td>
                                </tr>
                                <tr>
                                    <td><a href={{scraped_news.Link[9]}}>{{scraped_news.Title[9]}}</a></td>
                                    <td>{{scraped_news.Published[9]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
    <!-- <script src="../StarterCode/static/js/app.js"></script> -->
    <!--MODIFIED THE NEXT TWO SCRIPT FILE PATHS-->
    <script src="../static/js/choropleth.js"></script>
    <!--<script src="../static/js/config.js"></script>-->
    <script src="../static/js/app_Clemi.js"></script>
    <script src="../static/js/app_CK.js"></script>
    <script src="../static/js/app_CM.js"></script>
    <!--<script src="../static/js/app_SS.js"></script>-->

</body>

<!-- Start of footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
        <br><br>
    </p>
</footer>
<!-- End of footer -->

</html>